<html>
<head>
  <title>TITLE - AngukarJS increment</title>
  <script>//alert('header')</script>
  <!--<script src="./angular.min.js"></script>-->  
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
  --><!----><!---->
</head>
<body>
  <P>Changed - 25</P>
  <!---->
 
<!--BEGIN:0-->  

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script type="text/javascript">
  // App1
  /**/
  var shoppingCartModule = angular.module("shoppingCart", [])
  shoppingCartModule.controller("ShoppingCartController",
    function($scope) {
      $scope.items = [
        {
          product_name: "Product 1",
          price: 50
        }, 
        {
          product_name: "Product 2",
          price: 20
        }, 
        {
          product_name: "Product 3",
          price: 180
        }
      ];
      $scope.remove = function(index) {
        $scope.items.splice(index, 1);
      }
    }
  );
  // App2
  /**/
  var namesModule = angular.module("namesList", [])
  namesModule.controller("NamesController",
    function($scope) {
      $scope.names = [
        {
          username: "Nitin"
        }, 
        {
          username: "Mukesh"
        }
      ];
    }
  );
  //angular.bootstrap(document.getElementById("App2"), ['namesList']);
  
</script>
<div ng-app="shoppingCart" "ng-controller="ShoppingCartController id="App1" ng-controller="ShoppingCartController"  class="ng-scope">
  <h1>Your order</h1>
  <div ng-repeat="item in items">
    
  </div>
</div> 
<!---->
<!--

  
  
    <span>{{item.product_name}}</span>
    <span>{{item.price | currency}}</span>
    <button ng-click="remove($index);">Remove</button>
 

-->
<div id="App2" ng-app="namesList" ng-controller="NamesController" class="ng-scope">
  <h1>List of Names</h1>
  <div ng-repeat="_name in names">
    <p>{{_name.username}}</p>
  </div>
</div>
<script type="text/javascript">angular.bootstrap(document.getElementById("App2"), ['namesList']);</script>
<!-- END:0-->
<!--
  <div ng-app="myApp">
    <div ng-controller="MyAppCtrl">
      {{variable}}
      <button ng-click="increment()">increment</button>
    </div>
  </div>
  
  <script type="text/javascript">//alert('test');</script>
  <script type="text/javascript" src="app.js"></script>
  <script>//alert('body bottom')</script>
  -->
      <!--BEGIN:-1 --> 
      <!--
      <div ng-app="myApp">
        <script type="text/javascript">//alert('test_MyAppCtrl_HTML_above');</script>
        <div ng-controller="MyAppCtrl">
          {{variable}}
          <button ng-click="increment()">increment</button>
        </div>
        <script type="text/javascript">//alert('test_MyAppCtrl_HTML_below');</script>
        <script type="text/javascript" src="app.js"></script>
        <script>//alert('body bottom')</script>
      </div>
      <script>//alert('body bottom')</script></div>
      -->
      <br>oo<br>
      <!--
      <div ng-app="myApp"></div>
        <div ng-app="scopeExample">
          <script type="text/javascript">//alert(''test_scopeExample_HTML_below');</script>
          <div ng-controller="MyController">
            Your name:
            <input type="text" ng-model="username">
            <button ng-click='sayHello()'>greet - 1</button>
            <hr>
              {{greeting}}
            <hr>
          </div> 
          <script type="text/javascript" src="app_scope.js">//alert('test_scopeExample_HTML_below');</script> 
        </div>
      -->
       
      <!--END:-1 --> 
   
<!--BEGIN:1-->
<!--END:1-->
<!--BEGIN:2-->
<!--END:2-->
<!--BEGIN:3-->
<!--END:3-->
<!--BEGIN:4-->

</body>
</html>
