<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Darksight.GitHub.io by darksight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <STYLE TYPE="text/css"> <!-- 
      .indented { padding-left: 50pt; padding-right: 50pt; } 
    --> </STYLE>
    
    <script>//alert('header')</script>
    <!--<script src="./angular.min.js"></script>-->  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
    <!----><!----><!---->
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Darksight.GitHub.io</h1>
      <h2 class="project-tagline">Terrys Wisdom</h2>
    </section>

    <section class="main-content">
      
      <h3>OK lets have play</h3>
      <li class="indented"><a target="_blank" href="https://github.com/darksight/darksight.github.io/edit/master/SupplimentaryInfo_test_broken.html">Editing Page</a></li>
      <p><b>Button.  </b></p>
      
<!--Section-->       
      <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-yw4l{vertical-align:top}
</style>
<!--Section--> 
<table class="tg">
  <tr>
    <th class="tg-yw4l">Task</th>
    <th class="tg-yw4l">...</th>
    <th class="tg-yw4l">Description</th>
    <th class="tg-yw4l">Notes</th>
  </tr>
  <tr> 
    <td class="tg-yw4l">AngularJS Hello World</td>
    <td class="tg-yw4l">
      <!--88888888888888888888888888-->    
  <div ng-app="scopeExample">
  <div ng-controller="MyController">
  Your name:
    <input type="text" ng-model="username">
    <button ng-click='sayHello()'>greet</button>
  <hr>
  {{greeting}}
<!--88888888888888888888888888--><!----><!----><!---->
      <!--99999999999999999999--><!--  --> 
      <div ng-app="myApp">
        <div ng-controller="MyAppCtrl">
          {{variable}}
          <button ng-click="increment()">increment</button>
        </div>
        <script type="text/javascript">//alert('test');</script>
        <script type="text/javascript" src="app.js"></script>
        <script>//alert('body bottom')</script>
      </div>
      <script>//alert('body bottom')</script>
<!--99999999999999999999-->
      </div>
    
    </td>
    <td class="tg-yw4l">ooo</td>
    <td class="tg-yw4l">ooo</td>
  </tr>
  <tr> 
    <td class="tg-yw4l">AngularJS DIV button 9</td>
    <td class="tg-yw4l">
  



</div>
</div>
<script type="text/javascript" src="app_scope.js"></script>
    <!--99999999999999999999-->  
    </td>
    <td class="tg-yw4l">ooo</td>
    <td class="tg-yw4l">ooo</td>
  </tr>
</table>
 <!--Section--> 
        <h4>Cool Tools</h4>
        <p color='#DD0000'>Please feel free to contact me at <a href="mailto:terryknowsall@gmail.com">(e-mail)</a></p>
          <li class="indented"><a target="_blank" href="http://www.sassmeister.com/">SASS Playground</a></li>
          <li class="indented"><a target="_blank" href="http://www.w3schools.com/angular/default.asp">Angular Page</a></li>
          <li class="indented"><a target="_blank" href="http://www.w3schools.com/angular/tryit.asp?filename=try_ng_default">Angular Playground</a></li>
          <li class="indented"><a target="_blank" href="https://jsfiddle.net/">JS Playground - JSfiddle</a></li>
          <li class="indented"><a target="_blank" href="http://www.typescriptlang.org/Playground">TS Playground</a></li>
          <li class="indented"><a target="_blank" href="http://nodestreams.com/">NodeJS</a></li>
          li class="indented"><a target="_blank" href="http://plnkr.co/edit/rw6DZvE9EPX9Zc0tiPhx?p=preview">plnkr</a></li>
        
        <!--Section--> 
      <footer class="site-footer">
        <span class="site-footer-credits">John McDermott created in GitHub online editor.</span>
      </footer>
      
    </section>

  
  </body>
</html>
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
