<!DOCTYPE html>
<!--
<html ng-app="app" class="ng-scope">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
  @charset "UTF-8";
  [ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak,
  .ng-hide{display:none !important;}ng\:form{display:blo
  .ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}
  .ng-hide-add-active,
  .ng-hide-remove{display:block!important;}
  </style>
  <title>ngTodo</title>
  </head>
  -->
<html>
  <head>
  <title>ngTodo Hacked apart</title>
  </head>
<body>

<div ng-app="app" class="ng-scope">
<p>OK ngTodo Hacked apart - 13b</p>

<!-- Libraries -->
<script src="./angular.min.js"></script>
<script src="./angular-route.min.js"></script>

 <!--OK number 2-->
  <!--BEGIN Local (Filter)-->
  
  <!-- ngView: undefined -->
  <ng-view class="ng-scope"><span class="ng-scope">
  Search: </span><input type="text" ng-model="search.name" class="ng-scope ng-pristine ng-valid">
  <ul class="ng-scope">
    <li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/0" class="ng-binding">AngularJS Directives</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/1" class="ng-binding">Data binding</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/2" class="ng-binding">$scope</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/3" class="ng-binding">Controllers and Modules</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/4" class="ng-binding">Templates and routes</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/5" class="ng-binding">Filters and Services</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/6" class="ng-binding">Get started with Node/ExpressJS</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/7" class="ng-binding">Setup MongoDB database</a>
    </li><li ng-repeat="todo in todos | filter: search" class="ng-scope">
      <input type="checkbox" ng-model="todo.completed" class="ng-pristine ng-valid">
      <a href="https://cdn.rawgit.com/amejiarosario/068143b53e54db43ef38/raw/b703b591bc84f2d59a2a483169294e2fb232419d/ngTodo.html#/8" class="ng-binding">Be awesome!</a>
    </li>
  </ul>
</ng-view>


<!-- Template -->
<script type="text/ng-template" id="/todos.html">
alert('alert here 2');<!---->
  Search: <input type="text" ng-model="search.name">
  <ul>
    <li ng-repeat="todo in todos | filter: search">
      <input type="checkbox" ng-model="todo.completed">
      <a href="#/{{$index}}">{{todo.name}}</a>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">

alert('alert here 3');<!---->
  <h1>{{ todo.name }}</h1>
  completed: <input type="checkbox" ng-model="todo.completed">
  note: <textarea>{{ todo.note }}</textarea>
</script>

<script>
alert('alert here 1');<!---->
  angular.module('app', ['ngRoute'])
alert('alert here 1a'); <!--no shure about this alert-->

    //---------------
    // Services
    //---------------

    .factory('Todos', function(){
      alert('here - 2');
      return [
        { name: 'AngularJS Directives', completed: true, note: 'add notes...' },
        { name: 'Data binding', completed: true, note: 'add notes...' },
        { name: '$scope', completed: true, note: 'add notes...' },
        { name: 'Controllers and Modules', completed: true, note: 'add notes...' },
        { name: 'Templates and routes', completed: true, note: 'add notes...' },
        { name: 'Filters and Services', completed: false, note: 'add notes...' },
        { name: 'Get started with Node/ExpressJS', completed: false, note: 'add notes...' },
        { name: 'Setup MongoDB database', completed: false, note: 'add notes...' },
        { name: 'Be awesome!', completed: false, note: 'add notes...' },
      ];
    })

    //---------------
    // Controllers
    //---------------
<!--alert('alert here 1c); this alert gives unexpected token -->
    .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
    	alert('alert here 1d');<!---->
      $scope.todos = Todos;
    }])
<!--alert('alert here 1e'); this alert gives unexpected token -->
    .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
    	alert('alert here 1f');<!---->
      $scope.todo = Todos[$routeParams.id];
    }])

    //---------------
    // Routes
    //---------------
    <!--alert('alert here 3');-->
    .config(['$routeProvider', function ($routeProvider) {
    	
<!--alert('alert here 1g');-->
      $routeProvider
        .when('/', {
<!--alert('alert here 1h');	causes error-->
          templateUrl: '/todos.html',
          controller: 'TodoController'
        })

        .when('/:id', {
<!--alert('alert here 1i');	causes error-->
          templateUrl: '/todoDetails.html',
          controller: 'TodoDetailCtrl'
       });
    }]);
    

<!--alert('alert here 4');-->
</script>
</div>
</body></html>
	  
</body>
</html>
