$Count2: 8;
        @for $i from 1 through $Count2 {
          #NP1_div-#{$i} {
            background-color: red;
            width: 50px;// * $i;
            height: 20px;// / $i;
            float:left;
          }
          
        }
$Count3: 8;
        @for $i from 1 through $Count3 {
          #NP1_div-inside-#{$i} {        
            width:40px;// * $i;
            height: 18px;/// $i;
            min-width: 30px; 
            background:blue;  
            border:0.09em solid yellow; 
            text-align:center;
            float:left;
          }
          
        }
