#NP1_div-1 {
  background-color: red;
  width: 50px;
  height: 120px;
}

#NP1_div-2 {
  background-color: red;
  width: 100px;
  height: 60px;
}

#NP1_div-3 {
  background-color: red;
  width: 150px;
  height: 40px;
}

#NP1_div-4 {
  background-color: red;
  width: 200px;
  height: 30px;
}

#NP1_div-5 {
  background-color: red;
  width: 250px;
  height: 24px;
}

#NP1_div-6 {
  background-color: red;
  width: 300px;
  height: 20px;
}

#NP1_div-7 {
  background-color: red;
  width: 350px;
  height: 17.14285714px;
}

#NP1_div-8 {
  background-color: red;
  width: 400px;
  height: 15px;
}

#NP1_div-inside-1 {
  width: 40;
  height: /1;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-2 {
  width: 80;
  height: /2;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-3 {
  width: 120;
  height: /3;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-4 {
  width: 160;
  height: /4;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-5 {
  width: 200;
  height: /5;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-6 {
  width: 240;
  height: /6;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-7 {
  width: 280;
  height: /7;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}

#NP1_div-inside-8 {
  width: 320;
  height: /8;
  min-width: 30px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
}
