#NP1_div-1 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-2 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-3 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-4 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-5 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-6 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-7 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-8 {
  background-color: red;
  width: 35px;
  height: 29px;
  float: left;
}

#NP1_div-inside-1 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-2 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-3 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-4 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-5 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-6 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-7 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

#NP1_div-inside-8 {
  width: 35px;
  min-width: 30px;
  height: 16px;
  background: blue;
  border: 0.09em solid yellow;
  text-align: center;
  float: left;
  position: relative;
  top: 10px;
}

p {
  font-weight: normal;
  text-align: center;
  font-face: Verdana;
  font-size: 6px;
  color: white;
}
